<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Downloads</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>File Downloads</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Input File Name</th>
                    <th scope="col">Output File Name</th>
                    <th scope="col">Download Link</th>
                    <th scope="col">Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ file.input_filename }}</td>
                    <td>{{ file.output_filename }}</td>
                    <td><a href="{{ url_for('download_file', filename=file.output_filename) }}" class="btn btn-primary">Download</a></td>
                    <td>{{ file.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('home') }}" class="btn btn-primary">Upload Python Script</a>
    </div>
</body>
</html>
